/*Clip posters*/
#p_01{position: absolute; clip: rect(0px,1024px,569px,0px);}
#p_02{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_03{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_04{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_05{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_06{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_07{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_08{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_09{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_10{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_11{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_12{position: absolute; clip: rect(0px,0px,0px,0px);}
#p_13{position: absolute; clip: rect(0px,1024px,1024px,0px);}
#p_14{position: absolute; clip: rect(0px,1024px,1024px,0px);}
#p_15{position: absolute; clip: rect(0px,1024px,1024px,0px);}
#p_16{position: absolute; clip: rect(0px,1024px,762px,0px);}
#p_17{position: absolute; clip: rect(0px,1024px,683px,0px);}
#p_18{position: absolute; clip: rect(0px,512px,512px,0px);}
#p_19{position: absolute; clip: rect(0px,512px,512px,0px);}
#p_20{position: absolute; clip: rect(0px,512px,512px,0px);}
